<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303766215543-ccga7eepq6qhdjq7396cgbhov2audp9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303766215543-ccga7eepq6qhdjq7396cgbhov2audp9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDiO99r8TsRLghaTJZ1T0Sbbg_pJNN-Mrw</string>
	<key>GCM_SENDER_ID</key>
	<string>303766215543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Stream</string>
	<key>PROJECT_ID</key>
	<string>stream-bdb72</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-bdb72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303766215543:ios:b4b9b3c437c7dbc3025f72</string>
</dict>
</plist>